* {
  /* border: 1px solid black; */
}

body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-size: 1em;
  /* position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1; */
  background-color: black;
}

  .navS {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 1em;
    /* position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1; */
    background-color: black;
  }

    .navM {
      display: flex;
      justify-content: space-around;
      padding: 15px;
      font-size: 1em;
      /* position: absolute;
      left: 0px;
      right: 0px;
      z-index: 1; */
      background-color: black;
    }

    .navL {
      display: flex;
      justify-content: space-around;
      padding: 15px;
      font-size: 2em;
      /* position: absolute;
      left: 0px;
      right: 0px;
      z-index: 1; */
      background-color: black;
    }

    .navS a {
  color: white;
  text-decoration: none;
}

.navM a {
  color: white;
  text-decoration: none;
}

.navM span {
  color: white;
  margin: none;
}

.navL span {
  color: white;
  margin: none;
}

.navL a {
  color: white;
  text-decoration: none;
}

.foot {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 1em;
  /* position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1; */
  
}

.continents {
display: grid;
grid-template-columns: 1fr;
justify-items: left;
align-content: center;
/* position: absolute;
left: 0px;
right: 0px;
top: 10px; */
}

.continents a{
  display: grid;
  justify-items: center;
  text-decoration: none;
  /* border-top: 3px solid black; */
}

#continentsS {
  justify-items: center;
  grid-template-columns: 1fr;
}

#continentsS .continent{
  font-size: 2em;
}

#continentsS img {
  height: 200px;
  width: auto;
  padding: 30px;
}

#continentsM {
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

#continetsM .continent {
  font-size: 2em;
}

#continentsM img {
  height: 200px;
  width: auto;
  padding: 30px;
}

#continentsL {
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

#continentL .continent {
  font-size: 3em;
}

#continentsL img {
  height: 300px;
  width: auto;
  padding: 30px;
}

.continent {
  color: black;
  width: 175px;
  padding: 15px;
}

.countryS {
  background-color: rgb(249, 241, 223);
  min-height: 600px;
  padding: 30px;
}

.countryS img {
  height: auto;
  width: 375px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.infoCard {
  padding: 30px;
  text-align: left;
}

.infoCard span {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
}

.countryS button {
  width: 200px;
}

.countryS .first{
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  padding: 8px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.countryS .second {
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  padding: 8px;
  margin: 0 auto;
  margin-top: 30px;
  bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.countryM {
  background-color: rgb(249, 241, 223);
  height: 90vh;
  padding: 30px;
}

.countryM h1 {
  font-size: 3em;
}

.countryM img {
  height: auto;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.infoCard {
  padding: 30px;
  text-align: left;
}

.infoCard span {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
}

.countryM button {
  width: 300px;
  font-size: 1.4em;
}

.countryM .first{
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  padding: 8px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.countryM .second {
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  display: block;
  padding: 8px;
  margin: 0 auto;
  margin-top: 30px;
  bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.countryL {
  background-color: rgb(249, 241, 223);
  min-height: 90vh;
  padding: 30px;
}

.countryL h1 {
  font-size: 3em;
}

.countryL img {
  height: auto;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.infoCard {
  padding: 30px;
  text-align: left;
  width:fit-content;
  margin: 0 auto;
}

.infoCard h2 {
  font-size: 2em;
  width: fit-content;
}

.infoCard span {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
}

.countryL button {
  width: 400px;
  font-size: 2em;
}

.countryL .first{
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.countryL .second {
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  padding: 8px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.jumbotronS {
  height: 500px;
  width: auto;
  margin: 0px;
  overflow: hidden;
  border-bottom: 10px solid black;
  /* position: absolute;
  z-index: -1; */
}

.jumbotronS img{
  height:100%;
  width: 100%;
  object-fit: cover;
  /* position: absolute;
  z-index: -1; */

}

.jumbotronM {
  height: 700px;
  width: auto;
  margin: 0px;
  overflow: hidden;
  border-bottom: 15px solid black;
  /* position: absolute;
  z-index: -1; */
}

.jumbotronM img{
  height:100%;
  width: 100%;
  object-fit: cover;
  /* position: absolute;
  z-index: -1; */

}

.jumbotronL {
  height: 1000px;
  width: 100%;
  margin: 0px;
  overflow: hidden;
  border-bottom: 20px solid black;
  /* position: absolute;
  z-index: -1; */
}

.jumbotronL img{
  height:100%;
  width: 100%;
  object-fit: cover;
  /* position: absolute;
  z-index: -1; */

}

.mainContain {
  position: relative;
}

.countryListS h2 {
  width: 315px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: .7em;
}

.countryList a {
  font-size: 1em;
}

.countryListM h2 {
  width: 500px;
  padding: 15px;
  border: 2.5px solid white;
  border-radius: 25px;
  font-size: 1em;
}

.countryListL h1{
  color: black;
}

.countryListL h2{
  width: 590px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 30px;
}

#oceania {
  display: grid;
  justify-items: center;
  background-color:rgb(245, 167, 98);
}

#oceania h2 {
  background-color: rgb(245, 132, 33); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#oceania a {
  text-decoration: none;
  color: white;
}

#africa {
  display: grid;
  justify-items: center;
  background-color:rgb(247, 215, 30);
}

#africa h2 {
  background-color: rgb(249, 186, 51);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#africa a {
  text-decoration: none;
  color: black;
}

#asia {
  display: grid;
  justify-items: center;
  background-color:rgb(162, 220, 146);
}

#asia h2 {
  background-color: rgb(33, 131, 33);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#asia a {
  text-decoration: none;
  color: white;
}

#europe {
  display: grid;
  justify-items: center;
  background-color:rgb(211, 189, 247);
}

#europe h2 {
  background-color: rgb(154, 102, 237);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.countryListS h2:hover {
  font-size: 2em;
}

.countryListM h2:hover {
  width: 650px;
  font-size: 2.3em;
}

.countryListL h2:hover {
  width: 900px;
  font-size: 2.3em;
}

#europe a {
  text-decoration: none;
  color: white;
}

#SouthAmerica {
  display: grid;
  justify-items: center;
  background-color:rgb(159, 203, 242);
}

#SouthAmerica h2 {
  background-color: rgb(56, 149, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#SouthAmerica a {
  text-decoration: none;
  color: white;
}

#NorthAmerica {
  display: grid;
  justify-items: center;
  background-color:rgb(245, 149, 149);
}

#NorthAmerica h2 {
  background-color: rgb(208, 27, 27);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#NorthAmerica a {
  text-decoration: none;
  color: white;
}

.wishListS {
  height: 90vh;
  display: grid;
  justify-items: center;
  align-content:flex-start;
  background-color:rgb(255, 140, 238);
}

.wishListS h2 {
  background-color: rgb(215, 20, 192);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 315px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: .7em;
}

.wishListS a {
  text-decoration: none;
  color: white;
} 

.wishListM {
  height: 90vh;
  display: grid;
  justify-items: center;
  align-content:flex-start;
  background-color:rgb(255, 140, 238);
}

.wishListM h2{
  background-color: rgb(215, 20, 192);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 500px;
  padding: 15px;
  border: 2.5px solid white;
  border-radius: 25px;
  font-size: 1em;
}

.wishListM a {
  text-decoration: none;
  color: white;
} 

.wishListL {
  height: 90vh;
  display: grid;
  justify-items: center;
  align-content:flex-start;
  background-color:rgb(255, 140, 238);
}

.wishListL h2 {
  background-color: rgb(215, 20, 192);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 590px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 30px;
}

.wishListL a {
  text-decoration: none;
  color: white;
} 

.passListS {
  height: 90vh;
  display: grid;
  justify-items: center;
  align-content:flex-start;
  background-color:rgb(40, 55, 225);;
}

.passListS h2 {
  background-color: rgb(6, 11, 157);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 315px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: .7em;
}

.passListS a {
  text-decoration: none;
  color: white;
} 

.passListM {
  height: 90vh;
  display: grid;
  justify-items: center;
  align-content:flex-start;
  background-color:rgb(40, 55, 225);;
}

.passListM h2{
  background-color: rgb(6, 11, 157);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 500px;
  padding: 15px;
  border: 2.5px solid white;
  border-radius: 25px;
  font-size: 1em;
}

.passListM a {
  text-decoration: none;
  color: white;
} 

.passListL {
  height: 90vh;
  display: grid;
  justify-items: center;
  align-content:flex-start;
  background-color:rgb(40, 55, 225);;
}

.passListL h2 {
  background-color: rgb(6, 11, 157);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  width: 590px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 30px;
}

.passListL a {
  text-decoration: none;
  color: white;
} 
