* {
  /* border: 1px solid black; */
}

body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-size: 1em;
  /* position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1; */
  background-color: black;
}

  .navS {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 1em;
    /* position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1; */
    background-color: red;
  }

    .navM {
      display: flex;
      justify-content: space-around;
      padding: 15px;
      font-size: 1em;
      /* position: absolute;
      left: 0px;
      right: 0px;
      z-index: 1; */
      background-color: yellow;
    }

    .navL {
      display: flex;
      justify-content: space-around;
      padding: 15px;
      font-size: 1em;
      /* position: absolute;
      left: 0px;
      right: 0px;
      z-index: 1; */
      background-color: blue;
    }

    .nav a {
  color: white;
  text-decoration: none;
}

.foot {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 1em;
  /* position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1; */
  
}

.continents {
display: grid;
grid-template-columns: 1fr;
justify-items: left;
align-content: center;
position: absolute;
left: 0px;
right: 0px;
top: 10px;
}

.continent {
  color: white;
  background-color: rgba(0, 0, 0, .7);
  margin-left: 20px;
  width: 175px;
  padding: 15px;
}

#Africa {
  color: white;
}

#Asia {
  color: white;
}

#Australia {
  color: white;
}

#Europe {
  color: white;
}

#North {
  color: white;
}

#SouthAmerica {
  color: red;
}

.flag {
  height: 300px;
  width: 500px;
  border: 1px solid black;
}

.jumbotron {
  height: 700px;
  width: auto;
  margin: 0px;
  overflow: hidden;
  /* position: absolute;
  z-index: -1; */
}

.jumbotron img{
  height:100%;
  width: 100%;
  object-fit: cover;
  /* position: absolute;
  z-index: -1; */

}

.mainContain {
  position: relative;
}